.menu-bold {
    font-weight: 700;
}

/* CardCategorias */

.card-category {
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.241);
    transition: all 0.68s ease;
    cursor: pointer;
}

.card-category .card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.card-category:hover {
    top: -7px;
    left: 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    background-color: var(--color-secondary-barcode);
}

/*  */

/* NavbarCategory */

.navbar-category button.active {
    background-color: var(--color-primary-barcode);
    border-radius: 50rem;
    top: -1px;
    box-shadow: 0 1px 5px #78bdbb;
    transition: all .35s ease-in;
}

.degradate-navbar-left {
    background: linear-gradient(to right, var(--color-bg-barcode) 15%, rgba(33, 33, 33, 0) 80%);
    height: 100%;
    left: 0px;
    width: 70px;
    content: "";
    pointer-events: none;
    position: absolute;
    z-index: 1000;
}

.degradate-navbar-right {
    background: linear-gradient(to left, var(--color-bg-barcode) 15%, rgba(33, 33, 33, 0) 80%);
    height: 100%;
    width: 70px;
    content: "";
    right: 0px;
    pointer-events: none;
    position: absolute;
    z-index: 1000;
}

/* ComidaList */

.accordion-button, .accordion-header{
    border-radius: 13px!important;
}

.card-comida {
    border-radius: 13px;
    top: 0;
    left: 0;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    transition: all .63s ease;
}

.my-masonry-grid {
    display: -webkit-box;
    /* Not needed if autoprefixing */
    display: -ms-flexbox;
    /* Not needed if autoprefixing */
    display: flex;
    margin-left: -20px;
    /* gutter size offset */
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 20px;
    /* gutter size */
    background-clip: padding-box;
}

/*  */