
.menu-bold {
    font-weight: 700;
}

/* CardCategorias */

.card-category {
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.241);
    transition: all 0.68s ease;
    cursor: pointer;
}

.card-category .card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.card-category:hover {
    top: -7px;
    left: 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    background-color: var(--color-secondary-barcode);
}