@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Damion&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    --color-primary-barcode: #4DC0BC;
    --color-secondary-barcode: #ffce2b;
    --color-bg-barcode: #e3e1ed;
}

.text-menu-title {
    font-family: 'Damion', cursive;
    color: var(--color-primary-barcode);
    border-bottom: 2px solid var(--color-secondary-barcode);
    cursor: pointer;
}

.text-menu-title h1 {
    font-size: 100px;
}