@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Damion&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    --color-primary-barcode: #4DC0BC;
    --color-secondary-barcode: #ffce2b;
    --color-bg-barcode: #e3e1ed;
}

.text-menu-title {
    font-family: 'Damion', cursive;
    color: var(--color-primary-barcode);
    border-bottom: 2px solid var(--color-secondary-barcode);
    cursor: pointer;
}

.text-menu-title h1 {
    font-size: 100px;
}

/* .btn-position */

.msj-error {
    background-color: var(--color-bg-barcode);
    border-color: var(--color-primary-barcode);
    z-index: 300;
}

.btn-position {
    z-index: 500;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.btn-cuenta {
    cursor: pointer;
    width: 90px;
    height: 60px;
    font-size: 12px;
    background-color: var(--color-secondary-barcode);
    color: black;
    border: 2px solid var(--color-primary-barcode);
    border-radius: 13px;
    box-shadow: 0px 1px 12px var(--color-primary-barcode);
}

.btn-alert {
    cursor: pointer;
    width: 120px;
    height: 45px;
    font-size: 25px;
    color: var(--color-primary-barcode);
    border: 2px solid var(--color-primary-barcode);
    border-radius: 13px;
    box-shadow: 0px 1px 12px var(--color-primary-barcode);
}

.btn-mozo {
    cursor: pointer;
    width: 90px;
    height: 60px;
    font-size: 12px;
    background-color: var(--color-primary-barcode);
    color: var(--color-bg-barcode);
    border: 2px solid var(--color-primary-barcode);
    border-radius: 13px;
    box-shadow: 0px 1px 12px var(--color-primary-barcode);
}

.btn-alert.disabled,
.btn-alert-lg.disabled,
.btn-cuenta.disabled,
.btn-cuenta-lg.disabled,
.btn-mozo.disabled,
.btn-mozo-lg.disabled {
    cursor: default;
    opacity: .50;
}