::-webkit-scrollbar {
  display: none;
}

body {
  --color-primary-barcode: #4DC0BC;
  --color-secondary-barcode: #ffce2b;
  --color-bg-barcode: #e3e1ed;
  background-color: var(--color-bg-barcode);
}

.bg-color {
  background-color: var(--color-bg-barcode);
}